{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="container">
  <div class="row">
    {{post}}
 

    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
    <div class="col-md-6 float-left ">
      {% if user.is_authenticated %}
      <form class="card my-4" action="{%url 'post_like' post.slug%}" method="POST">
        {% csrf_token %}
        {% if liked %}

        {% else %}

        <button type="submit" name="article_id" value="{{post.slug}}" class="btn-like"><i
            class="far fa-heart"></i></button>

        {% endif %}

      {% else %}

      <span class="text-secondary"><i class="far fa-heart"></i></span>
      {% endif %}
      <span class="text-secondary">{{ post.number_of_likes }}</span>
      <!-- Likes goes before the closing strong tag -->
      <strong class="text-secondary"><i class="fas fa-heart"></i> {{ post.number_of_likes }} </strong>
  </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </form>
    <div class="col-md-12 card mb-8  mt-5 ">
      <div class="card-body">
        <!-- comments -->
        <h3>comments:</h3>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if commented %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        {% if user.is_authenticated %}

        <h4>Leave a comment</h4>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.2em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-md">Submit</button>
        </form>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}